<img src="" class="center" alt="">


<p class="headername"> JOHN PAUL NOFUENTE </p>

<div class="row">
  <div class="column side">
    <h2 class="picture">Profile</h2>
    <img src="https://scontent.fmnl4-1.fna.fbcdn.net/v/t1.0-9/18193921_1828417443852351_3213256982690438190_n.jpg?_nc_cat=0&oh=894ec3b8f37ef86d8b9d0420d179570c&oe=5BE11ED6" class="center" alt="" width="400" height="400">

  </div>
  <div class="column middle">
    <h2><b>All About Me<b></h2>
      <br>
      <br>
      <div class="info1">
        <tr>
          <th>Full Name:  John Paul A. Nofuente </th> <br>
          <th>Age:        21 </th> <br>
          <th>Birthdate:  July 8, 1997 </th> <br>
          <th>Birthplace: Muntinlupa City </th><br>
          <th>Sex:        Male</th><br>
        </tr>
      </div>

      <br>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </div>
  <div class="column side">
    <h2><b>Social Media Links</b></h2>
    <br>
    <br>
    <div class="row">
  <div class="col-sm-4">
      <a href="https://www.facebook.com/jpanofuente" target="_blank">
<img src="https://image.flaticon.com/icons/png/512/69/69407.png" alt="" id="facebook" > </a>
  </div>
  <div class="col-sm-4">

    <a href="https://twitter.com/jpanofuente" target="_blank">
<img src="https://png.icons8.com/metro/1600/twitter.png" alt="" id="twitter"> </a>
  </div>
  <div class="col-sm-4">

    <a href="https://www.instagram.com/jpa.nofuente" target="_blank">
    <img src="https://i1.wp.com/www.vectorico.com/wp-content/uploads/2018/02/Instagram-Logo.png?resize=300%2C300" alt="" id="instagram" > </a>
  </div>
</div>
  </div>
</div>

<div class="container2">
  <h2><b>Hobbies and Interest</b></h2>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/lights.jpg" target="_blank">
          <img src="http://gameranx.com/wp-content/uploads/2018/04/vkknu3pqbow7coarmlkd-700x394.jpg" alt="Lights" style="width:100%" >
          <div class="caption">
            <p class="tra">Games</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="http://thehermitagemuseum.org/wp-content/uploads/2018/05/photography.jpg" alt="Nature" style="width:100%" >
          <div class="caption">
            <p class="food">Photography</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail" id="nature">
        <a href="/w3images/fjords.jpg" target="_blank">
          <img src="http://www.nmfnewsonline.com/upload/news/lifestyle/Nmf2adb21_02_01_slide_nature.jpg" alt="Fjords" style="width:100%" >
          <div class="caption">
            <p class="tech">Nature</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<style>

#twitter{
  height: 100px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#instagram{
  height: 100px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#facebook{
  height: 100px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.tra{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.food{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.tech{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

#nature{
  height: 100px;
  width: 100%
}
.info1{
  font-size: 20px;
}
.center{

  margin-left: 50px;
}
.picture{
  margin-bottom: 40px;
  font-weight: bold;
  margin-left: 20px;
}
p.headername {
  text-align: center;
  font-weight: bold;
  font-family: times new roman;
  font-size: 40px;
}
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
</style>
